/*
Author: Kainoa Lloyd
CISC 282
*/

#info0,
#info1,
#info2,
#info3 {
    visibility: hidden;
}
/*p{
   background-color = white;

}
*/

body {
    background-image: url("../pics/doom3.jpg");
    background-size: 100% 150%;
}
img.hovering {
    float: left;
    margin-right: 1em;
}
/*div.p {
   background-color: #ffffff;
    width: 450px;
    padding: 25px;
    margin: 25px;
   opacity = 0.2;
}*/

div {
    background-color: #ffffff;
    width: 450px;
    padding: 25px;
    margin: 25px;
    opacity: 0.9;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    border: 2px solid;


    /*If you wanna to fill the screen.*/
    /*width: 100%; */
    position: center;
    margin: auto;
    text-align: justify;
}
#header1 {
    font-size: 2em;
    background-color: #ffffff;
    opacity: 0.6;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
}
